body {
    background-color: black;
    color: white;
}

body a:link {
    color: gold;
}

body a:visited {
    color: orange;
}

header {
    background-color: #F4B542;
}

header>img,
header>div {
    float: left;
}

header>img {
    height: 150px;
    width: 100px;
}

header>div {
    margin-left: 15px;
}

.horizontal-list ul li {
    display: inline-block;
}

#video iframe {
    width: 100%;
    height: 70vh;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 50px;
}