body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

body a:link {
    color: gold;
}

body a:visited {
    color: orange;
}

header {
    overflow: hidden;
    background-color: black;
}

header>img,
header>div {
    float: left;
}

header>img {
    height: 150px;
    width: 100px;
}

header>div {
    margin-left: 15px;
}

article {
    clear: both;
    background-color: black;
    color: white;
}

.horizontal-list ul li {
    display: inline-block;
}

#video iframe {
    width: 100%;
    height: 70vh;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 50px;
    background-color: #AD8A56;
    color: black;
}

footer p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Cookie', Verdana, Arial, sans-serif;
    font-weight: normal;
}